
   /* Custom Tab Styling */
    .custom-tab {
        background-color: #1a3a5f;
        color: white;
        border-radius: 20px;
        margin-right: 5px;
        padding: 10px 15px;
        transition: background-color 0.3s;
    }

    .custom-tab.active, .custom-tab:hover {
        background-color: #0d2d4d;
        color: white;
    }

    /* Project Card Hover Icons */
    .card-img-container {
        position: relative;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .overlay-icons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .overlay-icons i {
        color: #fff;
        font-size: 1.5rem;
    }

    .project-card:hover .overlay-icons {
        opacity: 1;
    }
    .achievement-card {
        cursor: pointer;
        transition: transform 0.3s;
    }

    .achievement-card:hover {
        transform: scale(1.05);
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .certification-card {
        cursor: pointer;
        transition: transform 0.3s;
    }

    .certification-card:hover {
        transform: scale(1.05);
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body .card-text {
        color: #6c757d; /* Subtitle color */
    }
    #scrollUpButton {
        display: none; /* Hidden by default */
        position: fixed; 
        bottom: 30px; 
        right: 30px;
        z-index: 99; 
        background-color: #1a3a5f; /* Background color */
        color: white; /* Text color */
        border: none; 
        outline: none;
        width: 50px; 
        height: 50px;
        border-radius: 50%; 
        text-align: center;
        font-size: 24px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
    
    #scrollUpButton:hover {
        background-color: #0d2742; /* Darker background on hover */
    }
    